<div class="tabs-bar">
  <div class="tabs-list">
    @for (tab of tabsService.tabs(); track tab.id) {
      <div
        class="tab"
        [class.active]="tabsService.activeTabId() === tab.id"
        (click)="setActive(tab.id)"
      >
        <span class="tab-method" [attr.data-method]="tab.method">{{ tab.method }}</span>
        <span class="tab-label">{{ tab.label }}</span>
        @if (tab.isDirty) {
          <span class="tab-dirty-dot" matTooltip="Unsaved changes"></span>
        }
        <button
          mat-icon-button
          class="tab-more"
          [matMenuTriggerFor]="tabMenu"
          [matMenuTriggerData]="{ tabId: tab.id }"
          (click)="$event.stopPropagation()"
          matTooltip="More"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <button
          mat-icon-button
          class="tab-close"
          (click)="closeTab(tab.id, $event)"
          matTooltip="Close tab"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }
  </div>

  <button
    mat-icon-button
    class="add-tab-btn"
    (click)="newTab()"
    matTooltip="New tab"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-menu #tabMenu="matMenu">
  <ng-template matMenuContent let-tabId="tabId">
    <button mat-menu-item (click)="closeOtherTabs(tabId)">
      <mat-icon>tab_close</mat-icon>
      Close other tabs
    </button>
  </ng-template>
</mat-menu>
